#main-topview-div{
    width:100%;
    height:800px;
    overflow: hidden;
    background-color: #202125;
    z-index: 50;
}
#image-div{
  width: 663px;
  height: 800px;
   position: absolute;
   right: 0;
   z-index: 10;
}

#top-view-image{
  width: 663px;
  height: 800px;
   position: absolute;
   right: 0;
   z-index: 1;
}
#heading-contact-us-page-1{
width: 670px;
height: 216px;
color: #FFF;
font-family: Poppins;
font-size: 35px;
font-style: normal;
font-weight: 600;
line-height: 240%;
margin-left:135px ;
margin-top: 180px;
}
#heading-contact-us-page-1 span{
  color:#FFB000;
}
#heading-contact-us-page-1 button{
width: 216px;
height: 74px;
flex-shrink: 0;
border-radius: 10px;
background: #FFB000;
border: none;
outline: none;
color:#FFF;
font-family: Poppins;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: 137.5%;
margin-top: 59px;
position: relative;
left:-183px;
}
#heading-contact-us-page-1 img{
  position: relative;
  top:-184.5px;
  left:-24px;
  height: 88px;
  width:195px
}



