.main_MP {
       width: 22rem;
       height: 18.75rem;
       flex-shrink: 0;
       border-radius: 2.5rem;
       background: #FFF;
       box-shadow: 0px 0px 40px 0px #E5E7EB;
       display: flex;
       flex-direction: column;
       justify-content: space-around;
       align-items: center;
       padding: 0px 40px;
       padding-top: 30px;
       /* margin-left: 10px; */
}

.main_MP>img {
       width: 184px !important;
       height: 82px !important;
     }

.main_MP>p {
       color: #000;
       text-align: center;
       font-family: Poppins;
       font-size: 1.25rem;
       font-style: normal;
       font-weight: 300;
       line-height: normal;
}