#main-program-div-programs-container-1{
    width:100%;
    height: 2220px;
    font-family: Poppins;
}

#program-heading-rectangle{
    width: 96px;
    height: 17px;
    background-color: #FFBB0066;
    position: relative;
    top:-29px;
    left:582px
}
#nontech-heading-rectangle{
    width: 183px;
    height: 17px;
    background-color: #FFBB0066;
    position: relative;
    height: 17px;
    top:-29px;
    left:540px;
}
#ug-pg-heading-rectangle{
    width: 310px;
    height: 17px;
    background-color: #FFBB0066;
    position: relative;
    height: 17px;
    top: -29px;
    left:380px;  
}

#heading-program-101{
text-align: center;
font-size: 40px;
font-weight: 500;
line-height: 60px;
color: #202125;
margin-top: 116px;

}
#program-card-container{

    height: 455px;
    margin-left: 104px;
    display: flex;
    gap:40px;
    width:1280px;

}