#main_hiring_partners
{
       position: relative;
       height: 140px;
       width: 100%;
       
}
#hiring_partners_display{
       margin-top: 40px;
       width: 90%;
       display: flex;
       justify-content: space-around;
       height: 60px;
       align-items: center;
       position: absolute;
       left: 50%;
       transform: translate(-50%,0);
       overflow: hidden;
}
